* {
  margin: 0;
  /* margin: 10px 20px; */
  padding: 0;
}

body {
  margin: 0 1.2rem;
  /* text-align: center; */
}

header {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 20px;
}

main p {
  padding: 20px;
  font-size: 20px;
  line-height: 2.5rem;
  padding: 1rem;
}

.structure {
  margin: 1rem 0;
  font-size: 20px;
  display: flex;
}

.structure h2 {
  font-size: 2rem;
  padding: 20px;
  /* line-height: 3rem; */
}

.structure p {
  font-size: 4rem;
}

.structure p {
  font-size: 18px;
  font-style: italic;
  margin: 10px 0;
}

.structure ul {
  margin: 0 1rem;
}

li {
  list-style-type: none;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: cursive;
}

.structure img {
  width: 600px;
  max-width: 70%;
  margin: 1rem auto;
  display: block;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.political-parties {
  margin: 0 1rem;
}

.political-parties h1 {
  margin: 1rem 0;
}

.political-parties li {
  line-height: 2.5rem;
  font-size: 16px;
}

.quiz {
  margin: 20px 2rem;
  display: flex;
  justify-content: right;
}

.quiz button {
  padding: 16px;
  background-color: rgb(1, 50, 1);
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.submit {
  display: flex;
  background-color: red;
}

@media screen and (max-width: 768px) {
  .structure {
    flex-direction: column;
  }

  .structure img {
    width: 800px;
    max-width: 85%;
  }
}
